.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination a {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000; /* 버튼 색상 */
}

.pagination .active {
    font-weight: bold; /* 활성화된 페이지의 텍스트 굵게 표시 */
}