

.header {
    font-size: 36px;
    font-weight: normal;
}

.dropdown_array {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.gender-select {
    margin-right: 20px;
}

.gender-select-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gender-list {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid #777777;
    background-color: white;
    font-size: 20px;
}

.gender-list-item {
    border-radius: 10px;
}

.gender-list-item:hover {
    background-color: #5FC6C4;
}

.num-select-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.num-list {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #777777;
    font-size: 20px;
}

.num-list-item {
    border-radius: 10px;
}

.num-list-item:hover {
    background-color: #5FC6C4;
}

.write_block {
    width: 50%;
    margin: auto;
}

.write_submit {
    font-size: 20px;
    margin-bottom: 30px;
}

.openkakaotalk {
    font-size: 20px;
}

#title {
    font-size: 18px;
}

#content {
    font-size: 18px;
}