.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #ffffff;
    height: 1600px;
    position: relative;
    width: 1440px;
}

.desktop .frame {
    background-color: #ffffff;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.desktop .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 85px;
}
.desktop .profile {
    border-radius: 10px;
    height: 55px;
    left: 1200px;
    position: absolute;
    top: 30px;
    width: 160px;
}
.desktop .write_button {
    background-color: #dadada;
    border-radius: 10px;
    height: 40px;
    left: 1000px;
    position: absolute;
    top: 30px;
    width: 140px;
}
.desktop .Frame {
    height: 475px;
    width: 1440px;
}
.desktop .gender_filter {
    position: absolute;
    top: 600px;
    left: 100px;
}
.num_filter {
    position: absolute;
    top: 600px;
    left: 250px;
}
.date_filter {
    position: absolute;
    top: 600px;
    left: 400px;
}
.place_filter {
    position: absolute;
    top: 600px;
    left: 550px;
}
.searchbar {
    position: absolute;
    top: 650px;
    right: 200px;
    width: 200px;
    height: 30px;
}
.search_button {
    position: absolute;
    top: 650px;
    right: 150px;
    width: 40px;
    height: 30px;
}
.dpsizeSet {
    width: 90px;
    height: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination a {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000; /* 버튼 색상 */
}

.pagination .active {
    font-weight: bold; /* 활성화된 페이지의 텍스트 굵게 표시 */
}