.desktop {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.top {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 50px;
}

.header {
    font-size: 36px;
    text-decoration: none;
    color: black
}

.write {
    margin-left: auto;
}

.mypage {
    margin-left: 30px;
}

.write_button {
    background-color: #CEEEEE;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: black;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_word {
    margin-left: 50px;
}

.banner_image {
    margin-top: 50px;
}

.middle {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 80px;
}

.gender_filter {
    margin-left: 50px;
}

.search {
    margin-left: auto;
    margin-right: 50px;
}

.box_style {
    border: 2px solid #1D2645;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    position: static;
    color: black;
    background: #CEEEEE;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0);
}

.box_header {
    font-size: 36px;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 90px;
    text-decoration: none;
}

.box_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box_gender {
    margin-left: 25px;
    margin-right: 10px;
}

.box_count {
    margin-left: 10px;
}

.box_line {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 3px;
    background: #969897;
}

.box_username {
    margin-left: 25px;
}


.filter_set {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 50px;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 90px;
    padding: 20px;
}

.dd-header {
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}

.dd-header:hover {
    background-color: #5FC6C4;
}

.filter_image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.dd-wrapper {
    position: relative;   
}
  
.dd-list {
    position: absolute;
    z-index: 1;           
    border: 1px solid black;
    border-radius: 10px;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 25px;
    margin-left: 45px;
    width: 100px;
    background-color: white;
}

.dd-list-item {
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
}

.dd-list-item:hover {
    background-color: #5FC6C4;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 110px;
}

.search_bar {
    height: 40px;
    font-size: 20px;
}

.search_bar_block {
    margin-right: 30px;
}

.search_button {
    font-size: 20px;
    border-radius: 10px;
    background-color: #CEEEEE;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}