

.req_block {
    width: 50%;
    margin: auto;
}

.header {
    font-weight: bold;
    font-size: 46px;
}
.write_contents {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: normal;
}

#writeHeader {
    margin-bottom: 50px;
    font-size: 20px;
    width: 60%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #777777;
    padding-left: 10px;
}

#writeContent {
    width: 60%;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #777777;
    padding-left: 10px;
    padding-top: 10px;
}

.submitSet {
    background-color: #CEEEEE;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #292929;
    margin-top: 30px;
    margin-bottom: 100px;
}

.req-text {
    font-family: 'default_font';
}