.main {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.pageName {
    margin-top: 30px;
}

.nickNameInput {
    width: 300px;
    height: 30px;
}

.ageSelect {
    width: 90px;
    height: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination a {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000; /* 버튼 색상 */
}

.pagination .active {
    font-weight: bold; /* 활성화된 페이지의 텍스트 굵게 표시 */
}