#profile {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper {
    color: #118196;
    text-decoration: none;
    font-size: 32px;
    font-family: 'GeekbleMalang2WOFF2';
}

.banner-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.write_button {
    background-color: #CEEEEE;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #4A4A4A;
}

.write_button:hover {
    background-color: #5FC6C4;
}


.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CEEEEE;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner_word {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner_words {
    font-size: 20px;
    margin-left: 20px;
}

.banner_logo {
    font-family: 'GeekbleMalang2WOFF2';
    font-size: 72px;
    color: #5EBAC3;
}

.read_block {
    margin: auto;
    width: 70%;
    margin-top: 70px;
}

.content_header {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
}

.post_info {
    margin-bottom: 30px;
}

.info_block {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post_content {
    margin-top: 30px;
    margin-bottom: 200px;
}

.apply_button {
    background-color: #CEEEEE;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #4A4A4A;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-top: 20px;
}

.apply_button:hover {
    background-color: #5FC6C4;
}

.user_menu {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 70px;
}
.content-box {
    border-radius: 10px;
    border: 2px solid #777777;
    padding-left: 30px;
}

.partition {
    margin-left: 10px;
    margin-right: 10px;
}

.read_box_line {
    background-color: #969897;
    height: 2px;
    margin-left: 0;
    margin-bottom: 20px;
}