

.header {
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 40px;
}

.write_block {
    width: 70%;
    margin: auto;
}

.dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.dd-gender {
    margin-right: 150px;
}

.submit_header {
    margin-bottom: 30px;
}

.openkakaotalk {
    margin-bottom: 30px;
}

.alcohol {
    margin-bottom: 30px;
}

.content {
    margin-bottom: 30px;
}

.submit_button {
    margin-bottom: 200px;
}

.upload_button {
    background-color: #CEEEEE;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #292929;
}

.upload_button:hover {
    background-color: #5FC6C4;
}

.cancel_button {
    background-color: #FFDD7F;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #292929;
    margin-right: 10px;
    margin-bottom: 200px;
}

.cancel_button:hover {
    background-color: #EF8658;
}

.gender-list {
    border: 2px solid #777777;
    border-radius: 10px;
    font-size: 20px;
    padding-inline-start: 0px;
}

.gender-list-item {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.gender-list-item:hover {
    background-color: #5FC6C4;
}

.gender-header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #777777;
    width: 200px;
    height: 60px;
    padding: 5px;
}

.num-list {
    border: 2px solid #777777;
    border-radius: 10px;
    font-size: 20px;
    padding-inline-start: 0px;
}

.num-list-item {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.num-list-item:hover {
    background-color: #5FC6C4;
}
.num-header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #777777;
    width: 200px;
    height: 60px;
    padding: 5px;
}

.write-alcohol-header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #777777;
    width: 200px;
    height: 60px;
    padding: 5px;
    margin-bottom: 50px;
}

.alcohol-list {
    border: 2px solid #777777;
    border-radius: 10px;
    padding-inline-start: 0px;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    background-color: white;
}

.alcohol-list-item {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.alcohol-list-item:hover {
    background-color: #5FC6C4;
}

.write_submit {
    font-size: 24px;
}

.write-arrow {
    margin-left: 20px;
}

#title {
    width: 500px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #777777;
    font-size: 20px;
    padding-left: 10px; 
    font-family: 'default_font', sans-serif;
}

#content {
    width: 500px;
    height: 300px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #777777;
    font-family: 'default_font', sans-serif;
}

#gender-write-arrow {
    margin-left: 40px;
}

#num-write-arrow {
    margin-left: 30px;
}

#write-header {
    width: 250px;
}

svg {
    margin-right: 20px;
}